
vendor/
*.test
Gopkg.lock
!vendor/github.com/abchain/fabric
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
